In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [2]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [3]:
# Call the function.
say_something("Hello World")

Hello World

In [4]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100'

In [5]:
passing_math_count = 29370
total_student_count = 39170

In [8]:
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [9]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [10]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [11]:
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [14]:
# Using the format() function.
my_grades_A = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades_A:
    print("{:.0f}".format(grade))

92
85
87
98

In [15]:
# Convert the numerical grades to a Series.
my_grades_b = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades_b

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [17]:
my_grades_b.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [18]:
my_grades_b

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64